<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <link rel="stylesheet" th:href="@{/css/typo.css}">
    <link rel="stylesheet" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <script th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/pace/pace.min.js}"></script>
    <link th:href="@{/lib/pace/themes/pace-theme-minimal.css}" rel="stylesheet" />
    <title th:replace="${title}">博客详情</title>
</head>
<body>
<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 可堆叠的，适应手机端-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#"  th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n==1}?'active'"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide" th:classappend="${n==2}?'active'"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:classappend="${n==3}?'active'"><i class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${n==4}?'active'"><i class="clone icon"></i>归档</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n==5}?'active'"><i class="info icon"></i>关于我</a>
            <a href="#" th:href="@{/home}" th:if="${session.user} != null" class="m-item item m-mobile-hide" th:classappend="${n==6}?'active'"><i class="info icon"></i>个人中心</a>
            <div class="right m-item item m-mobile-hide">
                <form action="#" name="search" method="post" th:action="@{/search}">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="query" placeholder="Search..." th:value="${query}">
                        <!--搜索的的图标-->
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
            <div class="right m-item item m-mobile-hide" th:if="${session.user} == null">
                <a href="#" th:href="@{/admin}" class=" item m-mobile-hide">登录</a>
                <a href="#" th:href="@{/re}" class=" item m-mobile-hide">注册</a>
            </div>
            <div class="ui dropdown item" th:if="${session.user}!= null">
                <div class="text">
                    <img th:src="${session.user.avatar}" alt="" class="ui avatar image">
                    <span th:text="${session.user.getNickname()}"></span>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a th:href="@{/admin/blogs/input}" class="item">发布文章</a>
                    <a th:href="@{/home}" class="item">个人中心</a>
                    <a th:href="@{/admin/logout}" class="item">注销</a>
                </div>
            </div>
        </div>
    </div>
    <!--响应手机端的三个横杠-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--底部-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--center aligned  居中  container   容器-->
    <div class="ui center aligned container">
        <!--把底下的布局分成十六份，grid-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <!--这是一个列表-->
                <div class="ui inverted link list">
                    <div class="item">
                        <!--class:ui rounded image  图片圆角-->
                        <img th:src="@{/images/logo.jpg}" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div id="newblog-container">
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" class="item" th:href="@{/blog/{id}(id=${blog.id})}" th:each="blog: ${newblogList}" th:text="${blog.title}">用户故事(User Story)</a>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item" th:text="#{index.email}"></a>
                    <a href="#" class="item" th:text="#{index.qq}"></a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-opacity">这是我的个人博客，这是我的个人博客</p>
            </div>
        </div>
        <!--divider 分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-lined m-text-lined m-text-thin m-opacity">
            @2016-2017 Lirenmi Deslfdjid
        </p>
    </div>
</footer>
</body>
</html>