<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>博客详情</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments::menu(1)">
</nav>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-larger animated fadeIn">
    <div class="ui container">
        <!--头部-->
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <!--头像-->
                <div class="item">
                    <img src="" alt="" class="ui avatar image" th:src="@{${blog.user.avatar}}">
                    <div class="content"><a href="#" class="header" th:src="@{${blog.user.nickname}}">高世伟</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-1</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span th:text="${blog.views}">50</span>
                </div>
                <div class="item">
                    <i class="heart outline icon"></i><span th:text="${xihuan}">50</span>
                </div>
            </div>
        </div>
        <!--图片区域-->
        <div class="ui attached segment">
            <img src="../static/images/bg.png" alt="" class="ui fluid rounded image" th:src="@{${blog.firstPicture}}">
        </div>
        <!--内容-->
        <div class="ui attached padded segment">
            <div class="ui right aligned basic segment">
                <div class="ui basic orange label" th:if="${session.user}!=null">
                    <div class="ui orange" th:if="${favor_null}==1">
                        <a  th:href="@{/home/like/{id}(id=${blog.id})}"  class="ui teal">喜欢</a>
                    </div>
                    <div class="ui orange" th:if="${favor_null}==2">
                        <a  th:href="@{/home/like/{id}(id=${blog.id})}" th:text="${favor.isIf_like()}?'已喜欢':'喜欢'" style="color: red" class="ui teal">喜欢</a>
                    </div>
                </div>
                <div class="ui orange basic label"  th:text="${blog.flag}">原创</div>
            </div>
            <!--标题-->
            <h2 class="ui center aligned header" th:text="${blog.title}">生命的意义与价值</h2>
            <!--文章内容-->
            <div id="content" class="typo typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-larger">
                <div id="test-editormd-view2">
                    <textarea id="append-test" th:text="${blog.content}"></textarea>
                </div>
            </div>
            <!--标签-->
            <div class="m-padded-lr-responsive">
                <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">
                    方法论
                </div>
            </div>
            <!--赞赏-->
            <div th:if="${blog.appreciation}">
                <div class="ui segment center aligned basic">
                    <!--circular:大圆角-->
                    <button id="payButton" class="ui orange circular basic button">
                        赞赏
                    </button>
                </div>
                <!--点击赞赏按钮时触发下面的区域-->
                <div class="ui payQ flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img src="../static/images/play.png" alt="" th:src="@{/images/play.png}" class="ui rounded bordered image" style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img src="../static/images/play.png" alt="" th:src="@{/images/play.png}" class="ui rounded bordered image" style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--博客信息-->
        <div class="ui attached positive message" th:if="${blog.shareStatement}">
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者: <span th:text="${blog.user.nickname}">高世伟 </span> <a href="" th:href="@{/about}">(联系作者)</a> </li>
                        <li>发表时间: <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                        <li>作者: 高世伟 (联系作者)</li>
                        <li>作者: 高世伟 (联系作者)</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img th:src="@{/images/logo.jpg}" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                </div>
            </div>
        </div>
        <!--留言区-->
        <div  class="ui bottom attached segment" th:if="${blog.commentabled}">
            <!--留言列表-->
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui dividing comments" style="max-width: 100%">
                        <h3 class="ui dividing header">全部评论: <span th:text="${#arrays.length(list)}"></span>&nbsp;条</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="../static/images/logo.jpg" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span  th:text="${comment.user_id.nickname}"></span>
                                    <div class="ui mini basic teal left pointing label" th:if="${comment.adminComment}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.user_id.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="../static/images/logo.jpg" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.user_id.nickname}">Matt</span>&nbsp;
                                            <div class="ui mini basic teal left pointing label" th:if="${reply.adminComment}">博主</div>
                                            <span th:text="|@ ${reply.parentComment.user_id.nickname}" class="m-teal">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.user_id.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--提交留言区域-->
            <div class="ui form comment-form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息"></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" disabled="disabled" name="nickname" placeholder="姓名" th:value="${session.user}!=null?${session.user.nickname}:'暂未登录'">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" disabled="disabled" name="email"  placeholder="邮箱" th:value="${session.user}!=null?${session.user.email}:'暂未登录'">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <input type="hidden" id="ids" th:value="${ids}" style="display: none !important;">
                        <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右边的功能条-->
<div id="toolbar" class="m-padded m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui toc teal button">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button class="ui wechat icon teal button"><i class="weixin icon"></i></button>
        <div id="toTop-button" href="" class="ui icon button"><i class="chevron up icon"></i></div>
    </div>
</div>

<div class="ui toc-container flowing popup transition hidden" style="width: 250px !important;">
    <ol class="js-toc">

    </ol>
</div>
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 130px !important;">
<!--    <img src="./static/images/logo.jpg" alt="" class="ui rounded image" style="width: 150px !important;">-->
</div>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments::footer" class="ui inverted segment m-padded-tb-massive">
    <!--center aligned  居中  container   容器-->
    <div class="ui center aligned container">
        <!--把底下的布局分成十六份，grid-->
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <!--这是一个列表-->
                <div class="ui inverted link list">
                    <div class="item">
                        <!--class:ui rounded image  图片圆角-->
                        <img src="../static/images/logo.jpg" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-opacity">这是我的个人博客，这是我的个人博客</p>
            </div>
        </div>
        <!--divider 分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-lined m-text-lined m-text-thin m-opacity">
            @2016-2017 Lirenmi Deslfdjid
        </p>
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script th:src="@{/lib/qrcode/qrcode.min.js}"></script>
<script th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<script src="../static/lib/editormd/lib/marked.min.js" th:src="@{/lib/editormd/lib/marked.min.js}"></script>
<script src="../static/lib/editormd/lib/prettify.min.js" th:src="@{/lib/editormd/lib/prettify.min.js}"></script>
<script src="../static/lib/editormd/lib/raphael.min.js" th:src="@{/lib/editormd/lib/raphael.min.js}"></script>
<script src="../static/lib/editormd/lib/underscore.min.js" th:src="@{/lib/editormd/lib/underscore.min.js}"></script>
<script src="../static/lib/editormd/lib/sequence-diagram.min.js" th:src="@{/lib/editormd/lib/sequence-diagram.min.js}"></script>
<script src="../static/lib/editormd/lib/flowchart.min.js" th:src="@{/lib/editormd/lib/flowchart.min.js}"></script>
<script src="../static/lib/editormd/lib/jquery.flowchart.min.js" th:src="@{/lib/editormd/lib/jquery.flowchart.min.js}"></script>
<script src="../static/lib/editormd/lib/editormd.js" th:src="@{/lib/editormd/lib/editormd.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/layer.js}"></script>
<script th:inline="javascript">
    $(function() {
        editormd.markdownToHTML("test-editormd-view2", {
            markdown        : "\r\n" + $("#append-test").text(),
            htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            htmlDecode : "style,script,iframe|on*",
            codeFold : true,
            taskList : true,
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            path    : "/lib/editormd/lib/",
            emoji           : true,
            taskList        : true,
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });

    });
    $(".ui.dropdown").dropdown({
        on: "hover"
    });
    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/16");
    });
    /*处理上面的三个点的下拉处理*/
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    /*处理赞赏的js*/
    $('#payButton').popup({
        popup: $('.payQ.popup'),
        on: 'click',
        position: 'bottom center'
    });
    /*功能条的目录*/
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
    });
    /*处理赞赏的js*/
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });
    /*二维码*/
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    var qrcode = new QRCode("qrcode", {
        text: 'http://127.0.0.1:8080'+url,
        width: 100,
        height: 100,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    /*点击返回最上面的时候平滑*/
    $('#toTop-button').click(function () {
        $(window).scrollTo(0,500);
    });
    /*操作旁边功能条出现和消失*/
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction == 'down'){
                $('#toolbar').show(100);
            }else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!')
        }
    });


    $('.ui.form').form({
        fields : {
            title : {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的姓名'
                }]
            },
            content : {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            email : {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '请输入正确的邮箱地址'
                }]
            }
        }
    });
    /*点击发布按钮的处理*/
    $("#commentpost-btn").click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo){
            /*获取一个隐藏域的值，如果是1就是登录，可以评论，是2就是没有登录，不可以评论*/
            var test = $('#ids').val();
            if (test==1){
                console.log(test);
                postData();
            }
            if (test==2){
                layer.msg("请先登录",function () {});
                console.log('错误');
            }
            console.log(test);
        }else{
            console.log('不通过');
        }
    });
    /*数据的发送*/
    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname" : $("[name='nickname']").val(),
            "email" : $("[name='email']").val(),
            "content" : $("[name='content']").val(),
        },function (responseTxt, statusTxt,xhr) {
            // $(window).scrollTo($('#1'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder","请输入评论信息...");

    }
    /*回复处理*/
    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder","@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        window.scrollTo({
            bottom: -100,
            behavior: "smooth"
        });
    };
    $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog")
</script>
</body>
</html>