
<!DOCTYPE html>
<html lang="en" class="app" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>修改用户信息</title>
    <meta name="keywords" content="mtons, mtons,博客,社区,摄影,旅游,艺术,娱乐">
    <meta name="description" content="Mtons, 轻松分享你的兴趣. 便捷的文字、图片发布,扁平化的响应式设计,美观、大气,是您记录生活的最佳选择">

<meta property="mtons:mblog" content="2.2.1">

<script th:src="@{/lib/pace/pace.min.js}"></script>
<link th:href="@{/lib/pace/themes/pace-theme-minimal.css}" rel="stylesheet" />

<link rel='stylesheet' th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/lib/animate/animate.min.css}">
<link rel='stylesheet' th:href='@{/css/style.css}'/>
<link rel='stylesheet' th:href='@{/css/layout.css}'/>
<link rel='stylesheet' th:href='@{/css/plugins.css}'/>
<link rel='stylesheet' th:href='@{/css/addons.css|}'/>

<link rel='stylesheet' th:href="@{/lib/baguette/baguetteBox.min.css}"/>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/utils.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/sea.js}"></script>
<script type="text/javascript" th:src="@{/js/sea.config.js}"></script>

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="http://mtons.com/dist/images/logo.png"/>
<link rel="shortcut icon" href="http://mtons.com/dist/images/logo.png"/>

<script type="text/javascript">
    var _base_path = '$!{base}';

    window.app = {
        base: '',
        LOGIN_TOKEN: '$!{profile.id}'
    };
	
	window.UEDITOR_HOME_URL = '/assets/vendors/ueditor/';
</script>
</head>
<body>

<script type="text/javascript">
$(function () {
	$('a[nav]').each(function(){  
        $this = $(this);
        if($this[0].href == String(window.location)){  
            $this.closest('li').addClass("active");  
        }  
    });
});
</script>
<nav th:replace="_fragments::menu(3)"></nav>
<!-- Header END -->
    <!--.site-main -->
    <div class="wrap" id="wrap">
        <div class="container">
            <div class="row">
                <div class="main clearfix">
                    <div class="col-xs-12 col-md-12">

<div class="panel panel-default stacked">
	<div class="panel-heading">
		<ul class="nav nav-pills account-tab">
			<li><a href="/home/profile">基本信息</a></li>
			<li class="active"><a href="/home/avatar">修改头像</a></li>
			<li><a href="/home/password">修改密码</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<div id="message">

		</div>
		<form class="form-horizontal" th:action="@{/home/avatar}" method="post">
			<input type="hidden" id="x" name="x" value=""/>
			<input type="hidden" id="y" name="y" value=""/>
			<input type="hidden" id="width" name="width" value=""/>
			<input type="hidden" id="height" name="height" value=""/>
			<input type="hidden" id="path" name="path" value=""/>

			<div class="upload-btn">
				<label>
					<span>点击选择一张图片</span>
					<input id="upload_btn" type="file" name="file" accept="image/*" title="点击添加图片">
				</label>
			</div>
			<div class="update_ava">
				<img th:src="${session.user.getAvatar()}" id="target" alt="[Jcrop Example]" />
			</div>

			<div class="form-group">
				<div class="text-center">
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div><!-- /panel-content -->
</div><!-- /panel -->

<script type="text/javascript">
    seajs.use('avatar');
</script>
                    </div>
                </div>
            </div>
        </div>
    </div>

<a href="#" class="site-scroll-top"></a>

<script type="text/javascript">
    seajs.use('main', function (main) {
        main.init();
    });
</script>
<script th:src="@{/lib/pace/pace.min.js}"></script>
<link th:href="@{/lib/pace/themes/pace-theme-minimal.css}" rel="stylesheet" />

<link rel='stylesheet' th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/lib/animate/animate.min.css}">
<link rel='stylesheet' th:href='@{/css/style.css}'/>
<link rel='stylesheet' th:href='@{/css/layout.css}'/>
<link rel='stylesheet' th:href='@{/css/plugins.css}'/>
<link rel='stylesheet' th:href='@{/css/addons.css|}'/>

<link rel='stylesheet' th:href="@{/lib/baguette/baguetteBox.min.css}"/>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/utils.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/sea.js}"></script>
<script type="text/javascript" th:src="@{/js/sea.config.js}"></script>
</body>
</html>
