<!DOCTYPE html>
<html lang="en" class="app" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>修改用户信息</title>

	<script th:src="@{/lib/pace/pace.min.js}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" th:href="@{/css/me.css}">
	<link th:href="@{/lib/pace/themes/pace-theme-minimal.css}" rel="stylesheet" />
	<link rel='stylesheet' th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/lib/animate/animate.min.css}">
	<link rel='stylesheet' th:href='@{/css/style.css}'/>
	<link rel='stylesheet' th:href='@{/css/layout.css}'/>
	<link rel='stylesheet' th:href='@{/css/plugins.css}'/>
	<link rel='stylesheet' th:href='@{/css/addons.css}'/>
	<link rel='stylesheet' th:href="@{/lib/baguette/baguetteBox.min.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/validate/messages_zh.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/utils.js}"></script>
	<script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/layer/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/sea.js}"></script>
	<script type="text/javascript" th:src="@{/js/sea.config.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<style>
		.popover-content{width:200px}
	</style>
</head>
<body>

<nav th:replace="_fragments::menu(3)"></nav>
<div class="wrap" id="wrap">
	<div class="container">
		<div class="row">
			<div class="main clearfix">
				<div class="col-xs-12 col-md-12">
					<div class="panel panel-default stacked">
						<div class="panel-heading">
							<ul class="nav nav-pills account-tab">
								<li><a href="profile">基本信息</a></li>
								<li><a href="avatar">修改头像</a></li>
								<li><a href="password">修改密码</a></li>
							</ul>
						</div>
						<div class="panel-body">
							<div id="message">
							</div>
							<div class="tab-pane active" id="profile">
								<form id="pf" method="post" class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-lg-3">邮箱</label>
										<div class="col-lg-4">
											<input type="email" class="form-control" name="email" th:value="${session.user.getNickname()}">
										</div>
									</div>
									<div class="form-group">
										<div class="text-center">
											<button type="submit" class="btn btn-primary">提交</button>
										</div>
									</div><!-- /form-actions -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a href="#" class="site-scroll-top"></a>

<script type="text/javascript">
	$(".ui.dropdown").dropdown({
		on: "hover"
	});
	$("#pf").validate({
		debug:true, //只验证，不提交
		rules : {
			email: {
				required: true,
				email: true
			}
			},
			messages: {
				email: {
					required: "请输入邮箱",
					email: '邮箱格式不正确'
				}
			},
			errorPlacement: function (error, element) {
				element.popover('destroy');
				element.popover({
					content: error[0].innerHTML
				});
				element.click();
				element.closest('div').removeClass('has-success').addClass('has-error');
			},
			success: function (a, b) {
				$(b).parent().removeClass('has-error').addClass('has-success');
				$(b).popover('destroy');
			},
			submitHandler: function (form) { //验证通过执行这里
				layer.msg("验证通过!",function () {});
			}
	});
</script>
</body>
</html>
