<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>关于我</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments::menu(6)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 可堆叠的，适应手机端-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="action m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <!--搜索的的图标-->
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--响应手机端的三个横杠-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<body>
<div class="ui container">
    <input type="hidden" name="page">
    <input type="hidden" name="fans">
    <div class="ui grid right"  style="width: 950px;margin-left: 100px" >
        <div class="four wide column">
            <div class="ui middle aligned card">
                <div class="image">
                    <img th:src="${session.user.getAvatar()}">
                </div>
                <div class="content">
                    <a class="header center aligned" th:text="${session.user.getNickname()}">Kristy</a>
                    <div class="meta">
                        <span class="date" th:text="|&nbsp;&nbsp;&nbsp;&nbsp;${session.user.getSign()}">2013年加入</span>
                    </div>
                    <div class="center aligned">
                        <a th:href="@{/home/profile}" class="ui positive button mini ">修改资料</a>
                    </div>
                </div>
            </div>
            <div class="ui vertical menu">
                <a class="teal item active" data-tab="first">动态 </a>
                <a class="teal item" data-tab="second">我的文章 </a>
                <a class="teal item" data-tab="third">我的评论 </a>
                <a class="teal item" data-tab="four">我的喜欢 </a>
                <a class="teal item" data-tab="five">我的关注 </a>
                <a class="teal item" data-tab="six">我的粉丝 </a>
                <a class="bell outline icon teal item" data-tab="seven">通知 <div class="ui teal left pointing label">1</div></a>
            </div>
        </div>
        <div class="twelve wide  tab column segment">
            <div class="ui attached tab segment active" data-tab="second">
                <div th:text="${page.totalElements==0}?'此人很懒，什么都还没有发布'"></div>
                <div id="table-container" th:if="${page.totalElements>0}">
                    <table th:fragment="blogList" class="ui compact teal table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>标题</th>
                            <th>类型</th>
                            <th>推荐</th>
                            <th>状态</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="blog,iterStat: ${page.content}">
                            <td th:text="${iterStat.count}">1</td>
                            <td><a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}"></a></td>
                            <td th:text="${blog.type.name}">认知升级</td>
                            <td th:text="${blog.recommend} ? '是':'否'">是</td>
                            <td th:text="${blog.published} ? '草稿':'发布'">是</td>
                            <td th:text="${blog.updateTime}">2017-10-02 09:00</td>
                            <td>
                                <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>
                                <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="7">
                                <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                    <a th:href="@{/home(page=${page.number}-1)}" th:unless="${page.first}" class="item">上一页</a>
                                    <a th:href="@{/home(page=${page.number}+1)}" th:unless="${page.last}" class="item">下一页</a>
                                </div>
                                <a href="" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                        <i class="close icon"></i>
                        <div class="header">提示: </div>
                        <p th:text="${message}">恭喜，操作成功</p>
                    </div>

                </div>
            </div>
            <div class="ui attached tab segment" data-tab="first">
            </div>
            <div class="ui attached tab segment" data-tab="third">Third </div>
            <div class="ui attached tab segment" data-tab="four">
                <div class="ui relaxed list">
                    <div class="item" th:each="xi:${love}">
                        <img class="ui image avatar"th:src="${xi.blog.getFirstPicture()}">
                        <div class="content">
                            <a  th:href="@{blog/{id}(id=${xi.blog.id})}" class="header" th:text="${xi.blog.title}">丹尼尔 路易斯</a>
                            <div class="description"><span th:text="${#dates.format(xi.createTime,'yyyy-MM-dd HH:mm')}"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached tab segment" data-tab="five">
                <div id="test">
                    <div class="ui special cards" th:fragment="followsList">
                        <div class="card" th:id="'loop-'+${follow.target.id}" th:each="follow:${follows.content}" style="width: 150px;height: 281px">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="javascript:void(0);" th:data-id="${follow.target.id}" rel="unfollow" class="ui inverted button">取消关注</a>
                                        </div>
                                    </div>
                                </div>
                                <img th:src="${follow.target.avatar}">
                            </div>
                            <div class="content">
                                <a class="header" th:text="${follow.target.nickname}">Team Fu</a>
                                <div class="meta">
                                    <span class="date">Created in Sep 2014</span>
                                </div>
                            </div>
                            <div class="extra content">
                                <a><i class="users icon"></i> 2 Members </a>
                            </div>
                            <script>
                                /*放到卡片上显示取消关注*/
                                $('.special.cards .image').dimmer({
                                    on: 'hover'
                                });
                            </script>
                        </div>
                        <div style="position: inherit"></div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="ui mini menu" style="position: absolute;bottom: 0" th:if="${follows.totalElements}>1">
                            <a onclick="follow(this)" th:attr="data-page=${follows.number}-1" th:unless="${follows.first}" class="item">上一页</a>
                            <a onclick="follow(this)" th:attr="data-page=${follows.number}+1" th:unless="${follows.last}" class="item">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached tab segment" data-tab="six">
                <div id="fan_test">
                    <div th:fragment="fansList" class="ui special cards">
                        <div class="card" th:id="'loop-'+${fan.source.id}" th:each="fan:${fans.content}" style="width: 150px;height: 281px">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a th:href="@{/ta/{userId}(userId=${fan.source.id})}" class="ui inverted button">他的主页</a>
                                        </div>
                                    </div>
                                </div>
                                <img th:src="${fan.source.avatar}">
                            </div>
                            <div class="content">
                                <a class="header" th:text="${fan.source.nickname}">Team Fu</a>
                                <div class="meta">
                                    <span class="date">Created in Sep 2014</span>
                                </div>
                            </div>
                            <div class="extra content">
                                <a><i class="users icon"></i> 2 Members </a>
                            </div>
                            <script>
                                /*放到卡片上显示取消关注*/
                                $('.special.cards .image').dimmer({
                                    on: 'hover'
                                });
                            </script>
                        </div>
                        <div style="position: inherit"></div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="ui mini menu" style="position: absolute;bottom: 0" th:if="${fans.totalElements}>1">
                            <a onclick="fans(this)" th:attr="data-fan_page=${fans.number}-1" th:unless="${fans.first}" class="item">上一页</a>
                            <a onclick="fans(this)" th:attr="data-fan_page=${fans.number}+1" th:unless="${fans.last}" class="item">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached tab segment" data-tab="seven">
                <div class="stream-item" id="loop-3" th:each="notify:${data}">
                    <div class="blog-rank">
                        <div class="user" th:title="${notify.title}">
                            <a th:href="${notify.url}">
                                <img class="img-circle" th:src="${notify.avatar}"/>
                            </a>
                        </div>
                    </div>
                    <div class="summary">
                        <h2 class="title" th:text="${notify.title}">一个怀疑人生的家伙</h2>
                        <div class="excerpt wordbreak">
                            <span th:utext="${notify.content}"></span>
                        </div>
                        </h2>
                        <div class="foot-block clearfix">
                            <div class="author">
                               <span th:text="${#dates.format(notify.createTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/lib/layer/layer.js}"></script>
<script>
    /*侧边列表*/
    $('.menu .item')
        .tab()
    ;
    /*处理上面的三个点的下拉处理*/
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    /*头像下拉*/
    $(".ui.dropdown").dropdown({
        on: "hover"
    });
    /*消息提示关闭初始化*/
    $(".message .close").on('click',function () {
        $(this).closest(".message").transition('fade');
    })
    /*放到卡片上显示取消关注*/
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
    $(function() {
        $('a[rel=unfollow]').click(function () {
            var id = $(this).attr('data-id');
            console.log(11111);
            layer.confirm('确定取消关注TA吗?', {
                btn: ['确定','取消'], //按钮
                shade: false //不显示遮罩
            }, function(){
                jQuery.getJSON('/unfollow',{'id': id},  function (ret) {
                    layer.msg(ret.msg, {icon: 1});
                    if (ret.code ==0) {
                        window.location.href = "/admin/login.html"
                    }
                    if (ret.code == 1 ) {
                        $('#loop-' + id).fadeOut(1000,function () {
                            $('#loop-' + id).remove();
                        });
                    }
                });

            }, function(){

            });
        });
    })


    function follow(obj) {
        $("[name='page']").val($(obj).data('page'));
        loaddata()
    }
    function loaddata() {
        $("#test").load(/*[[@{/home/follows}]]*/"/home/follows",{
            page: $("[name='page']").val()
        });
    }
    function fans(obj) {
        $("[name='fans']").val($(obj).data('fan_page'));
        fan_loaddata()
    }
    function fan_loaddata() {
        $("#fan_test").load(/*[[@{/home/fans}]]*/"/home/fans",{
            page: $("[name='fans']").val()
        });
    }
</script>
<link rel='stylesheet' th:href='@{/css/style.css}'/>
</body>
</html>